body{
    margin: 0;
}
.container{
    background-image: url('../WEB1/71710f762b6af383a73f9760fda3a3ae.png');
    background-position: -130px;
    background-color: #2020d057;
    background-position-y: -1664px;
    background-size: 1020px;
    background-size: contain;
}
.maintitle{
    font-size: 36px;
    padding-left: 79px;
    padding-top: 31px;
    color:navy;
    font-family: Arial, Helvetica, sans-serif;
}
.home{
    color: navy;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    padding-left: 930px;
    padding-top: 20px;
    cursor: pointer;
}
.selection{
    border-radius: 240px;
    height: 350px;
    width: 350px;
    background-color:navy;
    margin-left: 1058px;
}
.rectangle{
    border-radius: 10px;
    height: 382px;
    margin-top: 58px;
    width: 670px;
    background-color: navy;
    margin-left: 444px;
}
.shop{
    padding-left: 197px;
    color: white;
    padding-top: 25px;
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
}
.get-btn{
    width: 234px;
    height: 51px;
    font-size: 20px;
    margin-left: 210px;
    margin-top: 38px;
    background-color: yellow;
    cursor: pointer;
}